@{
    ViewData["Title"] = "Home Page";
}

@if (!(User?.Identity?.IsAuthenticated ?? false))
{
    <div class="text-center">
        <p>Please <a asp-area="Identity" asp-page="/Account/Login">sign in</a> to continue.</p>
    </div>
}

