@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono/SpaceMono.ttf');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/JakartaSans/JakartaSans.ttf');
}

:root {
    --primary-color: #4CAF50;
    --secondary-color: #FF9800;
    --background-color: #f9f9f9;
    --text-color: #333333;
    --body-font: 'Plus Jakarta Sans', sans-serif;
    --header-font: 'Space Mono', sans-serif;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    color: var(--text-color);
}

p,
li,
span,
div {
    font-family: var(--body-font);
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: var(--primary-color);
    opacity: 0.9;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
}

form:not(#logoutForm, #modal-delete-form, #irregular-delete-form) {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    border: 1px solid #e0e0e0;
}

form label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form select,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

form input[type="text"]:hover,
form input[type="password"]:hover,
form input[type="email"]:hover,
form select:hover,
form textarea:hover {
    border-color: var(--primary-color);
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form select:focus,
form textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px 0 var(--primary-color);
    outline: none;
}

form:not(#logoutForm)>button[type="submit"] {
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>.dropdown-toggle::after {
    transform: rotate(-90deg);
    right: 1rem;
    position: absolute;
    top: 0.9rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a.btn {
    text-decoration: none;
    vertical-align: middle;
}