@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/Space_Mono/SpaceMono-Bold.ttf');
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('/fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf');
}

:root {
    --primary-color: #4CAF50;
    --secondary-color: #FF9800;
    --background-color: #f9f9f9;
    --text-color: #333333;
    --body-font: 'Plus Jakarta Sans', sans-serif;
    --header-font: 'Space Mono', sans-serif;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--text-color);
}

p, li, span, div {
    font-family: var(--body-font);
    color: var(--text-color);
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #e68a00;
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form select,
form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="text"]:hover,
form input[type="password"]:hover,
form input[type="email"]:hover,
form select:hover,
form textarea:hover {
    border-color: #45a049;
}

form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus,
form select:focus,
form textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 8px 0 #4CAF50;
    outline: none;
}
