@using Domain.Models
@using System.Globalization
@model IEnumerable<Journal>
@{
    ViewData["Title"] = "Journals";
}

<div class="row mt-2">
    <h1>Journals</h1>
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-controller="Journal" asp-route-id="@item.Id" title="View journal" style="text-decoration: none !important">
            <div class="card col-md-4">
                <div class="card-body">
                    <h5 class="card-title">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month), @item.Year</h5>
                </div>
            </div>
        </a>
    }
</div>
